h1{
    text-align: center;
}

div{
    padding: 8px;
}

button{
    margin-left: 120px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(28, 198, 217);
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    
}

button:hover{
    background-color: rgb(0, 0, 0);
}